<div class="alert alert-success mt-2" *ngIf="_utilitiesService.alertSuccess" role="alert">
  {{_utilitiesService.alertSuccess}} {{_userService.user.premium_remain}} artículos
  <div class="text-center">Volver a la <button class="btn btn-xs bg-secondary-color m-2"
      [routerLink]="['/']">Home</button></div>
</div>

<div class="alert alert-danger mt-2" *ngIf="_utilitiesService.alertError" role="alert">
  {{_utilitiesService.alertError}}
</div>

<div class="text-center mt-2" *ngIf="_utilitiesService.loading">
  <div class="spinner-grow spinner-grow-sm bg-secondary-color" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow spinner-grow-sm bg-secondary-color" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow spinner-grow-sm bg-secondary-color" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div class="container mt-2 mb-2">
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-md-12">
      <div class="card formcard px-5">
        <form [formGroup]="buyForm">

          <h5>Pasarela de pago</h5>

          <h6>Desde aquí puedes simular la compra de artículos tipo 'premium'</h6>

          <div class="form-group">
            <label>Cantidad:</label>
            <div class="form-input"><input type="number" class="form-control"
                formControlName="amount" min="1" max="10" />
            </div>
          </div>


        </form>

        <div class="alert alert-danger"
          *ngIf="buyForm.get('amount').invalid && buyForm.get('amount').touched" role="alert">
          Por favor, introduce una cantidad del 1 al 10
        </div>

        <button class="btn bg-secondary-color mt-2" (click)="buyPremiumAccess()">Comprar</button>

      </div>
    </div>
  </div>
</div>