<nav class="navbar navbar-expand-lg bg-secondary text-uppercase" id="mainNav">
  <div class="container">
    <div class="navbar-brand js-scroll-trigger" [routerLink]="['/']">Donde lo veo</div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <ul class="navbar-nav mr-auto">
      </ul>
      <div *ngIf="!_userService.user">
        <button type="button" class="btn btn-primary btn-sm" [routerLink]="['/login']">
          Login
        </button>
        &nbsp;
        <button type="button" class="btn btn-primary btn-sm" [routerLink]="['/register']">
          Registro
        </button>
      </div>
      <div *ngIf="_userService.user">
        <button type="button" class="btn btn-primary btn-sm fade-in" [routerLink]="['/profile']">
          Profile
        </button>
        &nbsp;
        <button type="button" class="btn btn-primary btn-sm fade-in" (click)="logout()">
          Logout
        </button>
        &nbsp; Conectado como {{ _userService.user.name }}
      </div>
    </nav>


  </div>
</nav>
<!-- 

Modal LoginModal 
<div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="LoginModal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="LoginModal">Autenticación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="container">

          <div class="col-xs-12 ">
            <nav>
              <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                <a class="nav-item nav-link" id="nav-login-tab" data-toggle="tab" href="#nav-login"
                  role="tab" aria-controls="nav-login" aria-selected="true">Login</a>
                <a class="nav-item nav-link" id="nav-register-tab" data-toggle="tab"
                  href="#nav-register" role="tab" aria-controls="nav-register"
                  aria-selected="false">Registro</a>
              </div>
            </nav>
            <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
              <div class="tab-pane fade show" id="nav-login" role="tabpanel"
                aria-labelledby="nav-login-tab">
                <div class="col-md-12">

                  <div class="text-center" *ngIf="_utilitiesService.loading">
                    <button class="btn btn-primary" type="button" disabled>
                      <span class="spinner-grow spinner-grow-sm" role="status"
                        aria-hidden="true"></span>
                      Un momento ...
                    </button>
                  </div>

                  <div class="card card-container" *ngIf="!_utilitiesService.loading">
                    <form name="loginForm" (ngSubmit)="f.form.valid && login()" #f="ngForm"
                      novalidate>
                      <div class="form-group">
                        <label for="username">Nombre de usuario / Email</label>
                        <input type="text" class="form-control" name="username"
                          [(ngModel)]="loginForm.username" required #username="ngModel" />
                        <div class="alert alert-danger" role="alert"
                          *ngIf="f.submitted && username.invalid">
                          ¡El nombre de usuario es necesario!
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="password">Contraseña</label>
                        <input type="password" class="form-control" name="password"
                          [(ngModel)]="loginForm.password" required minlength="5"
                          #password="ngModel" />
                        <div class="alert alert-danger" role="alert"
                          *ngIf="f.submitted && password.invalid">
                          <div *ngIf="password.errors.required">¡La contraseña es necesaria!</div>
                          <div *ngIf="password.errors.minlength">
                            La contraseña debe tener al menos 5 caracteres
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <button class="btn btn-primary btn-block">
                          Login
                        </button>
                      </div>
                      <div class="form-group">
                        <div class="alert alert-danger" role="alert"
                          *ngIf="f.submitted && loginErrorMessage">

                          Error: {{ loginErrorMessage }}
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>


              <div class="tab-pane fade" id="nav-register" role="tabpanel"
                aria-labelledby="nav-register-tab">
                <div class="col-md-12">

                  <div class="text-center" *ngIf="_utilitiesService.loading">
                    <button class="btn btn-primary" type="button" disabled>
                      <span class="spinner-grow spinner-grow-sm" role="status"
                        aria-hidden="true"></span>
                      Un momento ...
                    </button>
                  </div>

                  <div class="card card-container" *ngIf="!_utilitiesService.loading">
                    <form *ngIf="!isSuccessfulRegistered" name="registerForm"
                      (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
                      <div class="form-group">
                        <label for="name">Nombre</label>
                        <input type="text" class="form-control" name="name"
                          [(ngModel)]="registerForm.name" maxlength="50" #name="ngModel" />
                        <div class="alert alert-danger" *ngIf="f.submitted && name.invalid">
                          <div *ngIf="name.errors.maxlength">
                            El nombre de usuario debe tener como mucho 50 caracteres
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="email">Nombre de usuario / Email</label>
                        <input type="email" class="form-control" name="email"
                          [(ngModel)]="registerForm.email" required email #email="ngModel" />
                        <div class="alert alert-danger" *ngIf="f.submitted && email.invalid">
                          <div *ngIf="email.errors.required">El Nombre de usuario / Email es
                            necesario</div>
                          <div *ngIf="email.errors.email">
                            El email debe ser válido
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="password">Contraseña</label>
                        <input type="password" class="form-control" name="password"
                          [(ngModel)]="registerForm.password" required minlength="5"
                          #password="ngModel" />
                        <div class="alert alert-danger" *ngIf="f.submitted && password.invalid">
                          <div *ngIf="password.errors.required">La contraseña es necesario</div>
                          <div *ngIf="password.errors.minlength">
                            La contraseña debe tener al menos 5 caracteres
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <button class="btn btn-primary btn-block">Registro</button>
                      </div>

                      <div class="alert alert-warning" *ngIf="f.submitted && isFailedRegistered">
                        Error<br />{{ registerErrorMessage }}
                      </div>
                    </form>

                    <div class="alert alert-success" *ngIf="isSuccessfulRegistered">
                      Te has registrado correctamente. Ahora ya puedes loguearte.
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>


        </div>



      </div>
    </div>
  </div>
</div> -->