<nav class="navbar navbar-secondary p-2 bg-main-color">
  <img src="./assets/img/coolumns-logo.jpg" alt="Columns - La opinión en un solo lugar" width="325"
    [routerLink]="['/']">
  <div>
    <div *ngIf="!_userService.user">
      <button class="btn bg-secondary-color m-2" [routerLink]="['/login']">Login</button>
      <button class="btn bg-secondary-color m-2" [routerLink]="['/register']">Registro</button>
      <button class="btn btn-xs bg-secondary-color m-2" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
        aria-expanded="false" aria-label="Toggle navigation" (click)="showed = !showed">
        <i *ngIf="!showed" class="fas fa-plus-square"></i>
        <i *ngIf="showed" class="fas fa-minus-square"></i>
      </button>
    </div>
    <div *ngIf="_userService.user">
      <button class="btn bg-secondary-color m-2" [routerLink]="['/profile']"><i
          class="fas fa-id-card-alt me-1"></i>{{_userService.user.name}}
        {{_userService.user.surname}}</button>
      <button class="btn bg-secondary-color m-2" (click)="logout()"
        [routerLink]="['/']">Logout</button>
      <button class="btn btn-xs bg-secondary-color m-2" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
        aria-expanded="false" aria-label="Toggle navigation" (click)="showed = !showed">
        <i *ngIf="!showed" class="fas fa-plus-square"></i>
        <i *ngIf="showed" class="fas fa-minus-square"></i>
      </button>
    </div>

  </div>

</nav>


<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-primary p-0">
    <button class="btn bg-main-color m-2" [routerLink]="['/']">Home</button>
    <button class="btn bg-main-color m-2" [routerLink]="['/contact']">Contacto</button>
  </div>
</div>