<nav class="navbar navbar-secondary p-2 bg-main-color">
  <img src="./assets/img/kolumnas-logo.jpg" alt="Columns - La opinión en un solo lugar" width="325"
    [routerLink]="['/']">
  <div>
    <div *ngIf="!_userService.user">
      <button class="btn bg-secondary-color m-2" [routerLink]="['/login']">Login</button>
      <button class="btn bg-secondary-color m-2" [routerLink]="['/register']">Registro</button>
    </div>
    <div *ngIf="_userService.user">
      <button class="btn bg-secondary-color m-2" [routerLink]="['/profile']"><i
          class="fas fa-id-card-alt me-1"></i>{{_userService.user.name}}
        {{_userService.user.surname}}</button>
      <button class="btn bg-secondary-color m-2" (click)="logout()"
        [routerLink]="['/']">Logout</button>
    </div>
  </div>
</nav>