<div class="alert alert-success mt-2" *ngIf="_utilitiesService.alertSuccess" role="alert">
  {{_utilitiesService.alertSuccess}}
</div>

<div class="alert alert-danger mt-2" *ngIf="_utilitiesService.alertError" role="alert">
  {{_utilitiesService.alertError}}
</div>

<div class="container mt-2 mb-2">
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-md-12">
      <div class="card formcard px-5">
        <form [formGroup]="ProfileForm">

          <h5>Perfil</h5>

          <div class="form-group">
            <label>Nombre:</label>
            <div class="form-input"> <i class="fa-grey fas fa-user"></i><input type="text"
                class="form-control" formControlName="name" [(ngModel)]="editedUser.name" />
            </div>
          </div>

          <div class="form-group">
            <label>Apellido:</label>
            <div class="form-input"> <i class="fa-grey far fa-user"></i><input type="text"
                class="form-control" formControlName="surname" [(ngModel)]="editedUser.surname" />
            </div>
          </div>

          <div class="form-group">
            <label>Email: (el email no se puede cambiar)</label>
            <div class="form-input"> <i class="fa-grey fa fa-envelope"></i><input type="email"
                class="form-control" formControlName="email" [(ngModel)]="editedUser.email"
                disabled />
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-6">
              <label>Nueva password:</label>
              <div class="form-input"> <i class="fa-grey fa fa-lock"></i><input type="password"
                  class="form-control" formControlName="password"
                  [(ngModel)]="editedUser.password" />
              </div>
            </div>
            <div class="col-sm-6">
              <label>Confirmar nueva password:</label>
              <div class="form-input"> <i class="fa-grey fa fa-lock"></i><input type="password"
                  class="form-control" formControlName="confirmPassword"
                  [(ngModel)]="editedUser.confirmPassword" />
              </div>
            </div>
          </div>

          <div class="alert alert-danger" role="alert"
            *ngIf="!ProfileForm.pristine && editedUser.confirmPassword != editedUser.password">
            Para actualizar el perfil debe rellenar los campos de contraseña y estas deben
            coincidir.
          </div>

        </form>


        <div class="row">
          <div class="col-8">
            <h6>Plataformas</h6>
          </div>
          <div class="col-4">
            <div class="d-flex justify-content-end">
              <button class="btn-xs btn bg-secondary-color" data-bs-toggle="modal"
                data-bs-target="#addStreamingServiceModal"
                (click)="ProfileForm.controls.email.markAsDirty()">
                Editar plataformas
              </button>
            </div>
          </div>
        </div>

        <div class="form-input" data-bs-toggle="modal" data-bs-target="#addStreamingServiceModal"
          (click)="ProfileForm.controls.email.markAsDirty()">
          <h4 class="streamingServices p-2">
            <span class="badge rounded-pill bg-secondary-color m-1"
              *ngFor="let streamingService of editedUser.streamingServices">
              {{streamingService.name}}
            </span>
          </h4>
        </div>
        <button class="btn bg-secondary-color mt-2" (click)="updateProfile()"
          [disabled]="ProfileForm.invalid">Actualizar Perfil</button>
        <div class="text-center mt-2">
          <div>¿Ya estas registrado? <button class="btn btn-xs bg-secondary-color m-2"
              [routerLink]="['/login']">Login</button></div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Add StreamingService Modal -->
<div class="modal fade" data-backdrop="static" data-keyboard="false" data-backdrop="static"
  data-keyboard="false" id="addStreamingServiceModal" tabindex="-1" role="dialog"
  aria-labelledby="addStreamingServiceModal" aria-hidden="true">
  <div class="modal-dialog  modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header btn-main-color">
        <h5 class="modal-title" id="addStreamingServiceModal">Plataformas disponibles</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>

      <div class="modal-body">

        <div class="form-input">
          <h4 class="streamingServices p-2">
            <span class="badge rounded-pill bg-secondary-color m-1 pointer"
              *ngFor="let streamingService of _filmService.streamingServices"
              (click)="addStreamingService(streamingService)">
              {{streamingService.name}}&nbsp;<span class="fa fa-hand-pointer"></span>
            </span>
          </h4>
        </div>
        <hr>
        <h6>Plataformas seleccionadas</h6>
        <h4 class="streamingServices p-2" *ngIf="editedUser.streamingServices.length">
          <span class="badge rounded-pill bg-secondary-color m-1"
            *ngFor="let streamingService of editedUser.streamingServices"
            (click)="addStreamingService(streamingService)">
            {{streamingService.name}}&nbsp;<span class="fa fa-times pointer"
              (click)="removeStreamingServices(streamingService)"></span>
          </span>
        </h4>
        <div class="d-flex justify-content-end">
          <button class="btn btn bg-secondary-color" data-bs-toggle="modal"
            data-bs-target="#addStreamingServiceModal">
            Listo
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->