
#agora_local{
    height: 500px;
    width: 500px;
    display: inline-block;
    border: 5px solid red;
}

.remote-containers div{
    height: 250px;
    width: 250px;
    border: 5px solid green;
}