<div class="row">
  <div class="col-md-12">
    {{ greeting }}
  </div>
</div>

<!-- <div class="row">
  <div class="col-md-6">
    <form class="form-inline">
      <div class="form-group">
        <label for="connect">WebSocket connection:</label>
        <button (click)="connect()" class="btn btn-default" type="submit">Connect</button>
        <button (click)="disconnect()" class="btn btn-default" type="submit"
          disabled="disabled">Disconnect
        </button>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <form class="form-inline">
      <div class="form-group">
        <label for="name">What is your name?</label>
        <input type="text" [(ngModel)]="name" class="form-control" name="name"> <br>
      </div>
      <button (click)="sendMessage()" class="btn btn-default" type="submit">Send</button>
    </form>
  </div>

  <p> {{ greeting }}</p>
</div>

<button (click)="getConnected()" class="btn btn-default" type="submit">Pedir conectados</button> -->




<div class="alert alert-success mt-2" *ngIf="_utilitiesService.alertSuccess" role="alert">
  {{_utilitiesService.alertSuccess}}
</div>

<div class="alert alert-danger mt-2" *ngIf="_utilitiesService.alertError" role="alert">
  {{_utilitiesService.alertError}}
</div>

<div class="text-center mt-2" *ngIf="_utilitiesService.loading">
  <div class="spinner-grow spinner-grow-sm bg-secondary-color" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow spinner-grow-sm bg-secondary-color" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow spinner-grow-sm bg-secondary-color" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>


<div class="p-3">

  <h6 *ngIf="!_userService.user">Bienvenido a Estupinia, una plataforma en la que contactar con
    usuarios para charlar de interese comunes.
  </h6>

  <h6 *ngIf="_userService.user">Encantados de verte de nuevo {{_userService.user.name}} ahora ya
    puedes contactar con otros usuarios para charlar de vuestros intereses comunes.
  </h6>

  <div class="text-center p-3">
    <h3>¿De qué quieres charlar?</h3>
    <select id="theme" class="btn btn-lg bg-main-color searchBox" name="searchedTheme"
      [(ngModel)]="searchedTheme">
      <option *ngFor="let theme of _userService.themes" [id]="theme" [ngValue]="theme">
        {{theme.name}}
      </option>
    </select>
    <span class="input-group-addon btn btn-lg bg-secondary-color"
      (click)="getUsersByTheme(searchedTheme)">Buscar</span>
  </div>


  <div *ngIf="_userService.user">
    <hr>
    <h3>Usuarios que quieren hablar ahora</h3>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5"
      [@aliasesAnimation]="_userService.conectedUsers">
      <div class="col mb-2" *ngFor="let conectedUser of _userService.conectedUsers"
        (click)="comunicateToUser(conectedUser)">
        <div class="card">
          <img [src]="conectedUser.img" class="card-img-top">
          <div class="card-body m-2">
            <h5 class="card-title">{{conectedUser.name}} {{conectedUser.surname}}</h5>
            Temas de interés: <span *ngFor="let theme of conectedUser.themes">{{theme.name}},
            </span>
            <div class="float-end">Status: <img src="assets/img/status-online.gif" width="45">
              online
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>



<div *ngIf="_userService.usersToDate?.length">
  <hr>
  <h3>Usuarios con los que quedar para hablar</h3>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5"
    [@aliasesAnimation]="_userService.usersToDate">
    <div class="col mb-2" *ngFor="let userToDate of _userService.usersToDate"
      (click)="comunicateToUser(userToDate)">
      <div class="card">
        <img [src]="userToDate.img" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{userToDate.name}}</h5>
          Temas de interés: <span *ngFor="let theme of userToDate.themes">{{theme.name}},
          </span>
        </div>
      </div>
    </div>
  </div>
</div>









<!-- identifyModal -->
<div class="modal fade" id="identifyModal" tabindex="-1" aria-labelledby="identifyModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="identifyModalLabel">Identificación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <h6>Identificate o registrate para acceder desde un mismo lugar a todos las columnas de
          opinión.</h6>
        <button class="btn bg-secondary-color m-2" data-bs-dismiss="modal"
          [routerLink]="['/login']">Login</button>
        <button class="btn bg-secondary-color m-2" data-bs-dismiss="modal"
          [routerLink]="['/register']">Registro</button>
        <button class="btn bg-secondary m-2" data-bs-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>