<div class="alert alert-success mt-2" *ngIf="_utilitiesService.alertSuccess" role="alert">
  {{_utilitiesService.alertSuccess}}
</div>

<div class="alert alert-danger mt-2" *ngIf="_utilitiesService.alertError" role="alert">
  {{_utilitiesService.alertError}}
</div>

<div class="text-center mt-2" *ngIf="_utilitiesService.loading">
  <h6>Un momento, nos estamos preparando para ofrecerte la mejor experiencia...
  </h6>
  <div class="spinner-grow spinner-grow-sm bg-secondary-color" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow spinner-grow-sm bg-secondary-color" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow spinner-grow-sm bg-secondary-color" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>


<div class="p-3" *ngIf="!_utilitiesService.loading">

  <h6 *ngIf="!_userService.user">Bienvenido a Estupinia, una plataforma en la que contactar con
    usuarios para charlar de interese comunes.
  </h6>

  <h6 *ngIf="_userService.user">Encantados de verte de nuevo {{_userService.user.name}} ahora ya
    puedes contactar con otros usuarios para charlar de vuestros intereses comunes.
  </h6>

  <div class="text-center p-3">
    <h3>¿De qué quieres charlar?</h3>
    <select id="theme" class="btn btn-lg bg-main-color searchBox" name="searchedTheme"
      [(ngModel)]="searchedTheme" (change)="getUsersByTheme(searchedTheme)">
      <option *ngFor="let theme of _userService.themes" [id]="theme" [ngValue]="theme">
        {{theme.name}}
      </option>
    </select>
  </div>


  <div *ngIf="_userService.conectedUsers?.length">
    <hr>
    <h3>Usuarios que quieren hablar ahora <span *ngIf="searchedTheme"> sobre
        {{searchedTheme.name}}</span></h3>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5"
      [@aliasesAnimation]="_userService.conectedUsers">
      <div class="col mb-2" *ngFor="let conectedUser of _userService.conectedUsers"
        (click)="comunicateToUser(conectedUser)">
        <div class="card">
          <img [src]="conectedUser.img" class="card-img-top">
          <div class="card-body m-2">
            <h5 class="card-title">{{conectedUser.name}} {{conectedUser.surname}}</h5>
            <span *ngIf="!searchedTheme">Temas de interés: <span
                *ngFor="let theme of conectedUser.themes">{{theme.name}},
              </span></span>
            <div class="float-end">Status: <img src="assets/img/status-online.gif" width="45">
              online
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="_userService.conectedUsers?.length == 0 && searchedTheme" class="alert alert-warning"
    role="alert">
    ¡Vaya! Parece que ahora mismo no hay nadie conectado que quiera charlar sobre
    {{searchedTheme.name}}.
    Pero no te preocupes, te avisaremos cuando se conecte alguien interesado
  </div>

</div>



<!-- <div *ngIf="_userService.usersToDate?.length">
  <hr>
  <h3>Usuarios con los que quedar para hablar</h3>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5"
    [@aliasesAnimation]="_userService.usersToDate">
    <div class="col mb-2" *ngFor="let userToDate of _userService.usersToDate"
      (click)="comunicateToUser(userToDate)">
      <div class="card">
        <img [src]="userToDate.img" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{userToDate.name}}</h5>
          Temas de interés: <span *ngFor="let theme of userToDate.themes">{{theme.name}},
          </span>
        </div>
      </div>
    </div>
  </div>
</div> -->



<!-- conectingModal -->
<div class="modal fade" id="conectingModal" tabindex="-1" aria-labelledby="conectingModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="conectingModalLabel">Conectando...</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <div class="spinner-grow spinner-grow-sm bg-secondary-color" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow spinner-grow-sm bg-secondary-color" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow spinner-grow-sm bg-secondary-color" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <h6>Un momento, estamos avisando a {{selectedUser?.name}} {{selectedUser?.surname}}. En
          cuanto acepte la comunicación
          os pondremos en contacto</h6>
        <button class="btn bg-secondary m-2" data-bs-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>





<!-- identifyModal -->
<div class="modal fade" id="identifyModal" tabindex="-1" aria-labelledby="identifyModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="identifyModalLabel">Identificación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <h6>Identificate o registrate para charlas con otros usuarios de tus temas de interés.</h6>
        <button class="btn bg-secondary-color m-2" data-bs-dismiss="modal"
          [routerLink]="['/login']">Login</button>
        <button class="btn bg-secondary-color m-2" data-bs-dismiss="modal"
          [routerLink]="['/register']">Registro</button>
        <button class="btn bg-secondary m-2" data-bs-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<!-- communicationProposalReceivedModal -->
<div class="modal fade" id="communicationProposalReceivedModal" tabindex="-1"
  aria-labelledby="communicationProposalReceivedModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" *ngIf="_webSocketService.communicationProposal?.type == 'question'">
      <div class="modal-header">
        <h5 class="modal-title" id="communicationProposalReceivedModalLabel">Alguien quiere charlar
          contigo
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <h6>Hola, quiere hablar contigo {{_webSocketService.communicationProposal?.from.name}}
          {{_webSocketService.communicationProposal?.from.surname}} sobre
          {{_webSocketService.communicationProposal?.theme.name}}</h6>
        <button class="btn bg-secondary-color m-2" data-bs-dismiss="modal"
          (click)="answerProposal('yes')">Aceptar</button>
        <button class="btn bg-secondary-color m-2" data-bs-dismiss="modal"
          (click)="answerProposal('no')">Rechazar</button>
      </div>
    </div>

    <div class="modal-content" *ngIf="_webSocketService.communicationProposal?.type == 'answer'">
      <div class="modal-header">
        <h5 class="modal-title" id="communicationProposalReceivedModalLabel">Han contestado
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <h6>Lo sentimos, {{_webSocketService.communicationProposal?.to.name}}
          {{selectedUser?.surname}} ha rechazado tu propuesta de conversación.
          Prueba con otro usuario.
        </h6>
        <button class="btn bg-secondary-color m-2" data-bs-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>