@import '../../../scss/styles.scss';

.nav-tabs .nav-link.active{
  background-color: $secondary-color;
}

.nav-tabs .nav-link{
    background: aliceblue;
    border: 1px solid aquamarine;
    color: black;
}

.card-img-top{
max-height: 200px;
}

.btn:hover {
    color:  $secondary-color;
}

.bg-secondary-color:hover{
  color: $main-color;  
}

img{
  max-width: 100%;
}

.accordion-item {
    margin-bottom: -1px;
    background-color:inherit;
    border: none;
}

.btn:focus {
    box-shadow: none;
}