@import '../../../scss/styles.scss';


.card-img-top{
max-height: 200px;
}

img{
  max-width: 100%;
}

.accordion-item {
    margin-bottom: -1px;
    background-color:inherit;
    border: none;
}

.btn:focus {
    box-shadow: none;
}