$main-color: #3E320C;
$secondary-color: #AC8400;


$primary: $secondary-color;
$secondary: $main-color;

@import "bootstrap";

body{
  background-color: #ddd;
}

.bg-main-color{
  background-color: $main-color;
  color: whitesmoke
}

.bg-secondary-color{
  background-color: $secondary-color;
  color: whitesmoke
}

.bor{
	border: 1px solid $secondary-color;
}

.version{
  color: white;
}



.form-input {
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px
}

.form-input i {
    position: absolute;
    font-size: 18px;
    top: 15px;
    left: 10px
}

.form-control {
    height: 50px;
    text-indent: 24px;
    font-size: 15px;
    border: 1px solid white
}

.form-control:focus {
    background-color: whitesmoke;
    box-shadow: none;
}

.fa-grey{
    color: #666;
}

.pointer {
  cursor: pointer;
}

.btn-xs
{
    padding: 1px 5px !important;
    font-size: 12px !important;
    line-height: 1.5 !important;
    border-radius: 3px !important;
}

.formcard {
    border: none;
    padding: 20px;
    background-color: $main-color;
    color: #fff
}




// Append footer to bottom
html,
body {
   margin:0;
   padding:0;
   height:100%;
}
#container {
   min-height:100%;
   position:relative;
}

#body {
   padding:10px;
   padding-bottom:150px;   /* Height of the footer */
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
}

// END Append footer to bottom

