$main-color: #8EB4E3;
$secondary-color: #D81959;

.bg-main-color{
  background-color: $main-color;
}

.bg-secondary-color{
  background-color: $secondary-color;
  color: whitesmoke
}

.bor{
	border: 1px solid $secondary-color;
}

.version{
  color: white;
}



.form-input {
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px
}

.form-input i {
    position: absolute;
    font-size: 18px;
    top: 15px;
    left: 10px
}

.form-control {
    height: 50px;
    background-color: $main-color;
    text-indent: 24px;
    font-size: 15px;
    border: 1px solid white
}

.form-control:focus {
    background-color: whitesmoke;
    box-shadow: none;
}

.fa-grey{
    color: #666;
}

.pointer {
  cursor: pointer;
}

.btn-xs
{
    padding: 1px 5px !important;
    font-size: 12px !important;
    line-height: 1.5 !important;
    border-radius: 3px !important;
}

.formcard {
    border: none;
    padding: 20px;
    background-color: $main-color;
    color: #fff
}
